//Montserrat
@font-face { font-family: "Montserrat";
  src: url("fonts/Montserrat/Montserrat-Regular.ttf") format("truetype")
}
@font-face { font-family: "Montserrat Bold";
  src: url("fonts/Montserrat/Montserrat-Bold.ttf") format("truetype")
}
@font-face { font-family: "Montserrat Italic";
  src: url("fonts/Montserrat/Montserrat-Italic.ttf") format("truetype")
}
@font-face { font-family: "Montserrat Bold Italic";
  src: url("fonts/Montserrat/Montserrat-BoldItalic.ttf") format("truetype")
}

//Times New Roman
@font-face { font-family: "Times New Roman";
  src: url("fonts/TimesNewRoman/TimesNewRoman-Regular.ttf") format("truetype")
}
@font-face { font-family: "Times New Roman Bold";
  src: url("fonts/TimesNewRoman/TimesNewRoman-Bold.ttf") format("truetype")
}
@font-face { font-family: "Times New Roman Italic";
  src: url("fonts/TimesNewRoman/TimesNewRoman-Italic.ttf") format("truetype")
}
@font-face { font-family: "Times New Roman Bold Italic";
  src: url("fonts/TimesNewRoman/TimesNewRoman-BoldItalic.ttf") format("truetype")
}
