@import "loader/fonts-loading.scss";
.v-application{
  /* Title/ STYLE */
  h1{
    font-family: 'Times New Roman Bold', serif;
    font-size: 50px;
    line-height: 60px;
    @media only screen and (max-width: map-get($grid-breakpoints, 'md')){
      font-size: 35px;
      line-height: 40px;
    }
  }
  h2{
    font-family: 'Times New Roman Bold', sans-serif;
    font-size: 30px;
    line-height: 40px;
  }
  h3{
    font-family: 'Times New Roman Bold', sans-serif;
    font-size: 25px;
    line-height: 35px;
  }
  h4, h5, h6{
    font-family: 'Times New Roman Bold', sans-serif;
    font-size: 20px;
    line-height: 30px;
  }

  /* Text style */
  p{
    font-family: 'Montserrat', sans-serif;
    font-size: 14px;
    line-height: 24px;
    color: black;
    @media only screen and (max-width: map-get($grid-breakpoints, 'md')){
      font-size: 16px;
      line-height: 26px;
    }
    &.small{
      font-family: 'Montserrat Italic', sans-serif;
      font-size: 12px;
      line-height: 22px;
      @media only screen and (max-width: map-get($grid-breakpoints, 'md')){
        font-size: 14px;
        line-height: 24px;
      }
    }
    &.big{
      font-family: 'Montserrat Bold', sans-serif;
      font-size: 16px;
      line-height: 26px;
      @media only screen and (max-width: map-get($grid-breakpoints, 'md')){
        font-size: 18px;
        line-height: 28px;
      }
    }
    &.admin-big{
      font-family: 'Montserrat', sans-serif;
      font-size: 20px;
      line-height: 30px;
    }
  }

  /* Link style*/
  a, button{
    text-decoration: none;
    font-family: 'Montserrat Bold', sans-serif;
    font-size: 16px;
    line-height: 26px;
    color: $secondary;
    @media only screen and (max-width: map-get($grid-breakpoints, 'md')){
      font-size: 18px;
      line-height: 28px;
    }
  }
  /* Button style */
  .button{
    z-index: 2;
    padding: 10px 30px;
    background-color: $secondary;
    color: white;
    border-radius: 10px;
    position: relative;
    text-align: center;
    &::after{
      content: '';
      width: 100%;
      height: 100%;
      position: absolute;
      top:0;
      left: 0;
      background-color: $secondary;
      opacity: 0.35;
      z-index: -1;
      border-radius: 10px;
      transform: rotate(0);
      transition-duration: 0.2s;
      transition-timing-function: ease-in-out;
    }
    &:hover{
      &::after{
        transform: rotate(5deg);
      }
    }
    &.primary{
      background-color: $primary;
      &::after{
        background-color: $primary;
      }
    }
    .large{
      padding: 10px 10%;
    }
  }

  hr{
    border: none;
    height: 2px;
    margin: 10px 0;
    background-color: rgba(0,0,0,0.1);
  }


  /* Formulaire style */
  .custom-form{
    form {
      label {
        display: none;
      }
      input {
        width: 100%;
        padding: 20px;
        margin: 10px 0;
        border-radius: 10px;
        border: 1px solid rgba(0, 0, 0, 0.1);
      }
    }
  }
  /* Display none */
  .vanish{
    display: none!important;
  }
  .show {
    display: initial!important;
  }
}
