@import "variables.scss";

.v-application {
  background-color: $bg-color!important;
  .form-layout {
    .v-input__slot::before, .v-text-field__details {
      display: none;
    }

    .v-input {
      padding: 0;
      width: calc(50% - 13px);
      margin: 10px 5px;
      display: inline-flex;

      input {
        max-height: unset;
      }

      &.v-select {
        width: calc(100% - 13px);
        border-bottom: 1px solid rgba(0, 0, 0, 0.2);
        margin: 0;
        padding: 0;

        input {
          height: 32px;
          padding: 0;
          margin: 0;
          border: none;
        }
      }
    }
  }
}

  .container.container--fluid{
    &.default-layout{
      min-height: calc(100vh - 100px);
      overflow: hidden;
    }

    // @override vutify property
    &.admin-layout{
      background-color: $bg-color;
      margin: 0 0 0 60px;
      width: calc(100% - 60px);
    }

    .v-sheet.v-card:not(.v-sheet--outlined){
      box-shadow: 0 0 2rem 0 rgba(136,152,170,.15);
      border-radius: .375rem;
    }
  }
